:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1d2a35;
  background: #a8bbc2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
